* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #ebebeb;
}

header {
    -webkit-box-shadow: 0px 15px 30px -16px #0000004d;
    box-shadow: 0px 15px 30px -16px #0000004d;
    background-color: #ffffff;
}

header article,
header nav {
    padding: 0 20px;
}

.header-mobile article {
    padding: 20px;
}

.header-mobile-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobile-up .search img {
    width: 25px;
}

.sub-header-mobile {
    padding: 40px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

.sub-header-mobile p {
    display: flex;
    justify-items: center;

    color: #91919f;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.time-mobile img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.weather-mobile img {
    width: 25px;
    margin-right: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.upper-article {
    background-color: #00122f;
    padding: 20px;
    color: white;
}

.article-content {
    display: flex;
    justify-content: space-between;
}

.article-content p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.article-content a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.sub-article {
    padding: 40px 0;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo p {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.28px;
    margin-left: 8px;
}

.region-select {
    margin-left: 62px;
}

.selector {
    width: auto;
    color: #448ccb;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    letter-spacing: 0.32px;
    border: none;
    border-bottom: 2px dashed #448ccb;
    padding-bottom: 3px;
}

.selector:focus {
    outline: none;
}

.weather-info p {
    color: #91919f;
    font-size: 16px;
    letter-spacing: 0.32px;
    margin-left: 10px;
}

.weather-info div:nth-child(2) {
    margin-top: 4px;
}

.search-bar input {
    margin-left: 47px;
    padding: 0 42px 0 21px;
    max-width: 278px;
    height: 45px;
    border-radius: 23px;
    background-color: #ebebeb;
    background-image: url('../imgs/header/search.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 95%;
    opacity: 0.6;
    border: none;

    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.28px;
}

.search-bar input:focus {
    outline: none;
}

.header-mobile .search-bar input {
    margin: 0px;
    padding: 0 8px;
    width: 0px;
    background-color: unset;
}

.menu-btn {
    width: 25px;
    height: 25px;
}

.nav-mobile {
    padding: 0px 20px 20px 20px;
    display: none;
}

.nav-mobile .region-select {
    margin-left: 0;
}

.nav-mobile ul {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.nav-mobile ul li {
    margin: 5px 0;
}

.header-mobile .region-select {
    margin-top: 7px;
}

nav ul {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: 250ms;
}

nav ul li a:hover {
    color: #448ccb;
}

.slash {
    color: #91919f;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    padding: 20px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.news {
    background-color: white;
    height: fit-content;
}

.block-title {
    padding: 25px 18px;
    border-bottom: 2px solid #ebebeb;
}

.news-content-items article {
    margin: 15px 18px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #448ccb;
    margin: 40px auto 25px auto;

    /* Style for text */
    color: #448ccb;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
}

.block-title h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.news-card-up {
    font-size: 14px;

    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.35px;
}

.news-card-down {
    margin-top: 15px;
}

.news-card-down .category {
    color: #91919f;
}

.news-card-down {
    width: 195px;
    display: flex;
    justify-content: space-between;
}

.news-card-down p {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0.24px;
}

.news-card-down img {
    width: 11px;
    margin-right: 5px;
}

.content {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.advertisement {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ad-container {
    width: 100%;
}

.ad-container-2 {
    display: block;
}

.ad-container img {
    margin-bottom: 18px;
    width: 100%;
}

.first {
    grid-column: 1 / 3;
    height: auto;
    padding: 25% 15% 10% 5%;
}

.category {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.24px;
    line-height: normal;
}

.content-title {
    margin: 5% 0;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;

    font-size: calc(20px + 5 * ((100vw - 320px) / (1000 - 320)));
}

.card-down {
    display: flex;
    justify-content: space-between;
    max-width: 136px;
    color: #ffffff;
    font-size: 12px;
    font-weight: thin;
    letter-spacing: 0.24px;
}

.content-card img {
    width: 100%;
}

.card-down img,
.small-card-down img {
    width: 9px;
}

.small-card-up {
    margin-top: 2%;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.28px;
    line-height: 150%;

    font-size: calc(15px + 1 * ((100vw - 320px) / (1000 - 320)));
}

.small-card-down {
    margin-top: 5%;
    max-width: 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-card-down .category {
    color: #91919f;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.24px;
}

.small-card-down p {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.24px;
}

.sub-main {
    margin-top: 20px;
    display: flex;
}

.left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('../imgs/main/sub-main/Layer_9.png');
    background-size: cover;
    width: 588px;
    /* height: 393px; */
}

.left-mob {
    display: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('../imgs/main/sub-main/Layer_9.png');
    background-size: cover;
    width: auto;
    /* height: inherit; */
}

.left article {
    padding: 107px 50px 20px 20px;
}

.left article h2 {
    margin-top: 15px;
    color: #ffffff;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0.6px;
}

.left article p {
    opacity: 0.7;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.28px;
    margin-top: 13px;
}

.right {
    width: 412px;
    height: 393px;
    background-color: white;
}

.right h2 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.right-title {
    padding: 30px 50px 27px 20px;
    border-bottom: 2px solid #ebebeb;
}

.right-items {
    padding: 0 20px 20px 20px;
}

.right-items article {
    margin-top: 20px;
}

.right-items article h3 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.32px;
}

.right-items div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 162px;
}

.right-items div h4 {
    color: #91919f;
}

.right-items div p {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.right-items div p img {
    width: 11px;
    height: 11px;
    margin-right: 5px;
}

.stats {
    color: white;
    margin-top: 13px;
    width: 136px;
    display: flex;
    justify-content: space-between;
}

.stats p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.24px;
}

.stats img {
    width: 11px;
    height: 11px;
}

.footer-desktop,
.footer-mobile {
    color: white;
    background-color: #00122f;
}

.footer-desktop article {
    padding: 10px;
}

.upper-footer {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.footer-left div:last-child {
    margin-left: 60px;
}

.footer-left {
    display: flex;
}

.footer-left ul li,
.footer-middle ul li,
.footer-right ul li,
.footer-mobile-top ul li,
.footer-mobile-middle ul li,
.footer-mobile-bottom ul li {
    list-style: none;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.footer-left ul li {
    margin-bottom: 19px;
}

.footer-left ul li:last-child {
    margin-bottom: 0px;
}

.footer-left ul li,
.footer-middle ul li,
.footer-right ul li,
.footer-mobile-top ul li,
.footer-mobile-middle ul li,
.footer-mobile-bottom ul li {
    color: white;
    text-decoration: none;
    margin-bottom: 19px;
}

.footer-desktop a,
.footer-mobile a {
    color: white;
    text-decoration: none;
}

.logo-footer p {
    color: white;
    font-weight: normal;
}

.footer-right ul {
    margin-bottom: 19px;
}

.footer-right ul li {
    display: inline;
    margin-left: 21px;
}

.footer-right ul:last-child li {
    display: block;
    margin-bottom: 19px;
}

.sub-footer {
    padding: 20px 0;

    border-top: 2px solid rgba(255, 255, 255, 0.25);
    opacity: 0.4;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.28px;

    margin: 0 auto;
}

.footer-contacts {
    display: flex;
    align-items: center;
}

.footer-contacts p {
    margin-left: 20px;
}

.footer-mobile article {
    padding: 30px;
}

.footer-mobile-top {
    display: flex;
    border-bottom: 1px solid gray;
}

.footer-mobile-top li {
    margin-right: 25px;
}

.footer-mobile-middle-menu ul {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

.footer-mobile-middle-menu li {
    width: 125px;
}

.footer-mobile-links {
    margin-top: 10px;
    display: flex;
}

.footer-mobile-links li {
    margin-right: 20px;
}

.sub-footer {
    border-bottom: 1px solid gray;
}